<%if !logged_in?%>
    <div class="top-part">
      <h3>・ </h3>
      <div class="register-part">
        <%= link_to "会員登録はこちら", signup_path, class: "registerbtn" %>
      </div>
    </div>
    <div class="description">
      <h2 class="description-title"><span>ハピランチ</span>とは・・・・・</h2>
      <h3>「ハピランチ」は、社会人のみなさまが、休憩中のごはんをより充実させるために、お近くの、お手頃で美味しい健康的なランチやお弁当の情報を検索、共有できるサービスです。
      </h3>  
    </div> 
    <div class="home-everyone-post"> 
      <h2 class=home-titlebar>みんなの投稿</h2>
      <%= render 'users/home_posts' %>
    </div>
<% else %>
  <div class="search-part">
    <h3>・ </h3>
    <%=render 'posts/search_form' %>
  </div>
  <div class="home-everyone-post"> 
    <h2 class=home-titlebar>みんなの投稿</h2>
    <%= render 'users/home_posts' %>
  </div>
<%end%>