<% provide(:titlebar, @title) %>
<% if @users.any? %>
  <ul class="users">
  <%= render @users %>
  </ul>
  <%= paginate @users %>
<% else %>
  <p class="no-post"> <%= "#{@title}はいません。"%> </p>
<% end %>