<%= @user.name %> 
<% if logged_in? %>
<p> sessioidは,<%= session[:user_id] %></p>
<p><%= link_to "ログアウト(ログインしてたら表示)", logout_path, method: :delete %></p>
<%else%>
<p> sessioidは,<%= session[:user_id] %></p>
<p>ログアウトしてたら表示</p>
<% end %>