<li>
  <div class="post-search-top">
      <p>店名： <%= post.store_name %></p>
      <p class="post-search-star">★<%=post.five_star_rating.to_f %></p>
    </div>
    <p>住所： <%= post.address %></p>
    <% if post.post_images.present? %>
      <% post.post_images.each do |image|%>
        <%= image_tag image.to_s,id:"post-file"%>
      <%end%>  
    <% end %>
</li>  