<div class="search">
  <%= form_with url: search_path, :method => 'get' , local: true do |f| %>
    <div class="search-conditions">
      <%= f.text_field :location, value: params[:location], placeholder: "現在地の住所や指定したい場所を入力してください。", class:"search-location" %>
        <li  id="get_current_spot">
          <div class=search-spot>
            <span class="fa-solid fa-magnifying-glass-location"></span>
            <p id="current_spot">現在地取得(緯度,経度)</p>
            <p class="locate-caution">※数秒お時間かかります</p>
          </div>
        </li>
        <%= f.select :keyword, [
          ['距離が近い順', 'near'],
          ['価格が安い順','inexpensive'],
          ['評価が高い順','rating'],
          ['野菜豊富メニューのみ（距離が近い順）','vagetable']
        ], id:"search-selection"%>
    </div>
    <%= button_tag type: "submit", id: "post-search-btn" do %>
    <p><span class="fas fa-search"></span>今日のランチを検索</p>
    <% end %>
  <% end %>
</div>
<script>
  function geoFindMe() { 
    function success(position) {
      const latitude  = position.coords.latitude;
      const longitude = position.coords.longitude;
      document.getElementById('location').value = `${latitude},${longitude}`;
      // 上記text_fieldのlocationに情報を渡す。
  }

    function error() {
      alert('エラーが発生しました。')
    }

    if(!navigator.geolocation) {
      alert('Geolocation is not supported by your browser');
    } else {
      navigator.geolocation.getCurrentPosition(success, error);
    // navigator.geolocation.getCurrentPositionは。現在の端末位置を取得し、successもしくは、errorに渡す。
    }
  }

  document.querySelector('#get_current_spot').addEventListener('click', geoFindMe);
</script>