<% provide(:titlebar, "検索結果") %>
<% if @posts.any? %>
  <div class="select-posts">
    <h2>・</h2>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </div>
<% else %>
  <div class="search-no-post">
    <p>お近くのお店の投稿を探しましたが、見つかりませんでした。
    <%= link_to "TOPに戻る",root_path, {class: "back-root"}%>
  </div>
<% end %>