.flash-success{
  background-color:rgba(132, 154, 201,0.8);    
  color:rgb(255, 255, 255); 
  text-align: center;
  height:5rem;
  font-size:2.5rem;
  font-weight:bold;
}

.flash-alert{
  background-color:rgba(215, 42, 15,0.8); 
  color:rgb(255, 255, 255);
  text-align: center;
  }