html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  color: #0c0a0a;
  /* font-family: 'Noto Sans JP', sans-serif; */
  font-family:'Zen Maru Gothic', sans-serif;
  font-size:1.6em;
  background: #f6f5f4;
}

header {
  width: 100%;
  height: 10rem;
  display: flex; /* flexboxを作る */
  align-items: center; /* 上下中央に揃える */ 
  justify-content: space-between; /* 両端に配置 */
  padding-left: 3rem;
  padding-right: 3rem;
  top: 0;
  box-sizing: border-box;
  background-color:#FAF4EF;
  font-weight:bold;
}

h1 a {
  color: #1a1a1a;
  font-size: 3rem;
  text-decoration: none;
}
ul {
  list-style: none;
  display: flex;
}

ul li a {
  color: #1a1a1a;
  text-decoration: none;
  font-weight: bold;
}

.header-text{
  font-weight:bold; 
}

.header-link{
margin:10px;
border-left:2px dotted #000000; /*線の設定*/
border-right:1px dotted #000000; /*線の設定*/
padding:0.2rem 1.5rem; /*余白の設定*/
}


ul li a:hover {
  text-decoration: underline;
}

.header-image{
width:4rem;
height:4rem;
margin:0 auto;
}


/* 投稿イメージ */
.fa-file-pen{
font-size:3rem;
margin-right:0.5rem;

}

.fa-user-group{
  font-size:3rem;
}

.header-text-logout{
padding:0.3rem 0 0 0.5rem;  
}

.header-title{
  display:flex; 
}

.logo{
width:6rem;
height:6rem;
margin-left:1rem;
}

.logo-image{
top: 0;
bottom: 0;
margin: auto;
}

#header-login{
margin:3rem 5rem 0 0;
}



.fa-circle-user{
  padding:0px;
  font-size:3.5rem;    
}

.fa-user-plus{
font-size:3rem;  
}


ul li ul{
  position: absolute;
  top: 8.5rem;
  display: block;
  visibility: hidden;
  opacity: 0;
}

header ul li:hover ul{
  visibility: visible;
  opacity: 1;
  background-color: rgb(246, 214, 188);
  transition: .60s;
  padding:0.5rem 2rem 2rem 0.5rem;
}

