.top-wrapper {
  width: 100%;
  padding:17rem 0 7rem 0;
  color:#505050;
  background-color:#fac18f;
  text-align: center;
}

.top-wrapper h2{
  font-size:2.5rem;
}

.btn-primary{
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  padding: 1rem 2.5rem;
  margin-top:1.5rem;
  color:#505050;
  border-radius: 6px;
  background-color:white;
  opacity: 0.8;
}

.btn-primary:active{
  background-color:rgb(251, 118, 23);
  color:white;
}

tabs {
  margin-bottom: 2rem;
  color: #fff;
}

.tabs .tab {
  display: inline-block;
  padding: 1rem 2rem;
  margin-right: 1rem;
  background-color: #f0f0f0;
  border-radius: 5px;
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.tabs .tab:not(.active):hover {
  background-color: #ddd;
}

.tab.active {
  background-color: #bfa41eb5;
  color:white;
  font-weight: bold;
}

#form2{
  display: none;
}

.search-keyword-form{
display: flex;
width: 100%;
}

.search-keyword1{
  font-size:1.8rem;
  margin-top:1rem;
  margin-bottom:1rem;
  margin-left:2rem;
}

.keyword-box1{
  width:60%;
}

.keyword-box1-sub{
  display:flex;
}

.keyword-box2{
  width:40%;
  margin-left:1rem;
}

.popular-tags{
  font-size:1.8rem;
  margin-top:1rem;
  margin-bottom:1rem;
}

.description{
  padding: 4rem 10rem ;
  background-color:#f8eed39e;
  background-size: cover;
  text-align: center;
  color:#505050;
  height:20rem;
} 

.description-title{
  font-size:2rem;
}

.description h2{
  margin-top:2rem; 
}

.description h3{
  padding-top:1rem;
  font-size: 2rem;
  font-weight:bold;
}