.signup-page {
  width: 450px;
  padding: 50px 0px 0px 0px;
  margin: auto;
}

.signup-page h2{
  font-size: 25px;
  font-weight:bold;
  text-align: center;
  padding-bottom:30px;
  opacity:0.6;
}
.form {
  background: #FFFFFF;
  width: 500px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: left;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.user-edittitle{
  font-weight:bold;
}

.name-space{
  height:6rem;  
}

.introduction-space{
height:6rem;
}

.form input,textarea {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 10px 0 30px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
#signup-button {
  outline: 0;
  background-color: #f17509;
  width: 100%;
  padding: 15px;
  color: #FFFFFF;
  font-size: 16px;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
/* show画面 */

.title-bar{
  font-size:2.6rem;
  font-weight: bold;
  width: 100%;  
  line-height:70px;
  background-color:rgba(249, 171, 93,0.7);
  text-align:center;
}

.title-bar2{
  font-size:3rem;
  font-weight: bold;
  width: 20%;  
  text-align:center;
  padding-bottom:1rem;
  margin: 0 auto;
  border-bottom:4px solid rgb(236, 156, 102);
}



.edit-logout{
  padding:0px 0px 0px 300px;
}

/* マイページ */

.mypage-post{
  background:rgb(246,239,210);
  padding:5rem 0;
}

.user-page{
  height:450px;
  margin:0 auto ;
}

.user-info{
  width:50%;
  margin:0 auto ;
  margin-top:5rem;
  margin-bottom:5rem;
}


.user-topinfo {
  display:flex;
  justify-content:start;
  margin-top:4rem;
  margin-left:10rem;
}

.profile-icon{
  float:left;
  width:10rem;
  height:10rem;
  border:3px solid #9a9a9aa3 ;
  border-radius:80px;
}

.user-topinfo h3{
  font-size:2.5rem;
  margin-left:1.5rem;
  padding-top:1.5rem;
}

#edit-btn {
  height:5.3rem;
  font-size:2rem;
  font-weight:bold;
  color: #FFFFFF;
  padding:1.2rem 1.5rem;
  margin:1rem 0 0 2rem;
  border-radius:26px;
  background-color: rgb(236, 156, 102);
}

/* フォロー追加のボタン */
.followbutton{
  height:5.3rem;
  font-size:1.9rem;
  font-weight:bold;
  color: #FFFFFF;
  padding:1.2rem;
  padding-top:1.5rem;
  margin:1rem 0 0 2rem;
  border-radius:26px;
  background-color: rgb(236, 156, 102);
}
  
  /* フォロー中のボタン */
.unfollowbutton{
  height:5.3rem;
  font-size:1.9rem;
  font-weight:bold;
  color: #FFFFFF;
  padding:1.2rem;
  margin:1rem 0 0 2rem;
  border-radius:26px;
  background-color: rgb(236, 156, 102);
}

.self-introduction{
  font-size:2.5rem;
  width:80%;
  height:15rem;
  padding:1rem 0 0 1rem;
  margin:2rem auto 0;
  border: 2px solid ; 
  border-radius:30px;
} 

.user-status{
  display:flex;
  justify-content:space-around;
  width:80%;
  margin-left:8rem;
}

.status-count{
  margin:3rem 0 0 2rem;
  font-size:3.5rem;
  font-weight: bold;
  font-style: italic;
  }


.status-title{
  margin:10px 0 0 10px;
  font-size:20px；
}

/* user一覧 */
.users {
  list-style: none;
  margin: 0; 
  display:block;
}

.users li {
  font-size:20px;
  display:flex;
  width:70%;
  margin:20px auto;
  overflow: auto;
  padding: 10px;
  border-bottom: 1px solid #dad8d8;
}

#user-index-icon{
  width:60px;
  height:60px;
  border:2px solid #bfbeb2;
  border-radius:80px; 
}

.user-index-name{
  margin:30px 30px 0 15px;
  width:180px;
}

.user-index-selfintro{
  margin:10px 30px 30px 15px;
  width:500px;
}

.users-follow {
  display: flex;
  width:50px;
}

/* ユーザーの投稿、いいねした投稿 */
.no-post{
  text-align: center;
  font-size:20px;
  margin-top:10px;
}