.signup-page {
  width: 450px;
  padding: 50px 0px 0px 0px;
  margin: auto;
}
.signup-page h2{
font-size: 25px;
font-weight:bold;
text-align: center;
padding-bottom:30px;
opacity:0.6;
}
.form {
  background: #FFFFFF;
  max-width: 450px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: left;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input,textarea {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 10px 0 30px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
#signup-button {
  outline: 0;
  background-color: #f17509;
  width: 100%;
  padding: 15px;
  color: #FFFFFF;
  font-size: 16px;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
/* show画面 */

.title-bar{
font-size:17px;
font-weight: bold;
padding-top:100px;
width: 100%;  
line-height:60px;
background-color:rgba(249, 171, 93,0.7);
text-align:center;
}

.title-bar2{
  font-size:17px;
  font-weight: bold;
  width: 200px;  
  line-height:60px;
  border-radius:100px;
  background-color:rgba(218, 196, 181, 0.708);
  text-align:center;
  margin: 0 auto;
  padding:0 10px;
}


.edit-logout{
  padding:0px 0px 0px 300px;
  }
  
.user-page{
padding:50px 0px 200px 200px;
margin: auto;
width: 960px;
height:480px;
}

.profile-icon{
float:left;
width:80px;
height:80px;
border:2px solid #bfbeb2;
border-radius:80px;
}

.user-topinfo {
  display:flex;
  width: 100%;
}

.user-topinfo-left{
  display:flex;
  width: 100%;
  justify-content: flex-start;
}


.user-topinfo h3{
font-size:20px;
margin-left:15px;
padding-top:15px;
}


/* .user-edit{
  display:flex; 
} */

#edit-btn {
  background-color: rgb(236, 156, 102);
  color: #FFFFFF;
  border-radius:20px;
  padding:5px 10px;
  font-size:15px; 
  margin:10px 0 0 20px;
}

/* .self-introduction{
  margin-top:10px;
  background-color:#b8b7b7; 
  border-bottom:solid 9px #9e9d9d;
  border-radius:5px;
  padding:0px 300px 80px 5px;
}  */

.self-introduction{
  font-size:18px;
  width:600px;
  height:150px;
  padding:5px 0 0 5px;
  margin-top:10px;
  border: 2px solid #b8b7b7; 
  border-radius:10px;
} 

.followbutton{
background-color: rgb(236, 156, 102);
border:2px solid #ffffff;
padding:10px;
color: #FFFFFF;
border-radius:20px;
height:40px;
margin:10px 0 0 20px;
}

.unfollowbutton{
  font-size:15px;
  background-color: rgb(236, 156, 102);
  border:2px solid #ffffff;
  padding:10px;
  color: #FFFFFF;
  border-radius:20px;
  height:42px;
  margin:10px 0 0 20px;
  }
  
.user-status
{
display:flex;
margin-left:30px;
}

.status-count{
margin:30px 0 0 30px;
padding-left:5px;
font-size:25px;
/* font-weight: bold; */
/* font-style: italic; */
}

.status-title{
margin:10px 0 0 10px;
font-size:20px
}

/* user一覧 */
.users {
  list-style: none;
  margin: 0; 
  display:block;
}

.users li {
  font-size:20px;
  display:flex;
  width:70%;
  margin:20px auto;
  overflow: auto;
  padding: 10px;
  border-bottom: 1px solid #dad8d8;
}

#user-index-icon{
  width:60px;
  height:60px;
  border:2px solid #bfbeb2;
  border-radius:80px; 
}

.user-index-name{
margin:30px 30px 0 15px;
width:180px;
}

.user-index-selfintro{
  margin:10px 30px 30px 15px;
  width:500px;
  }

.users-follow {
display: flex;
width:50px;
}

/* ユーザーの投稿、いいねした投稿 */
.no-post{
text-align: center;
font-size:20px;
margin-top:10px;
}
