@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.signup-page {
  width: 450px;
  padding: 150px 0px 0px 0px;
  margin: auto;
}
.signup-page h2{
font-size: 25px;
font-weight:bold;
text-align: center;
padding-bottom:30px;
opacity:0.6;
}
  .form {
  background: #FFFFFF;
  max-width: 450px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: left;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input,textarea {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 10px 0 30px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
#signup-button {
  font-family: "Roboto", sans-serif;
  /* text-transform: uppercase; */
  outline: 0;
  background-color: #f17509;
  width: 100%;
  /* border: 0; */
  padding: 15px;
  color: #FFFFFF;
  font-size: 16px;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}

.user-info{
padding-top:100px;
}

