<% unless current_user == user%>
  <div id="follow-form-#{user.id}">
    <% if current_user.following?(user) %>
      <%= link_to relationship_path(current_user.active_relationships.find_by(followed_id: user.id)),method:"delete" do %>
      <p class="unfollowbutton"> フォロー中</p>
      <%end%> 
    <%else%>
      <%= link_to relationships_path(followed_id:user),method:"post" do %>
        <p class="fa-solid fa-user-plus followbutton">
      フォロー</p>
      <%end%>
    <%end%>
  <%end%> 
  </div>