<% if @post.liked_by(current_user) %>
  <%= link_to post_likes_path(@post), method: "delete" do %>
    <span class="fa fa-heart liked-btn"></span>
  <% end %>
<% else %>
  <%= link_to post_likes_path(@post),{method: "post"} do %>
    <span class="fa fa-heart unliked-btn"></span>  
  <% end %>
<% end %>  
<%= @likes.count %>