<% if @post.liked_by(current_user) %>
  <%= button_to post_likes_path(@post), method: "delete", class:"liked-btnlink" do %>
    <span class="fa fa-heart liked-btn"></span>
  <% end %>
<% else %>
  <%= button_to post_likes_path(@post),method:"post", class:"unliked-btnlink" do %>
    <span class="fa fa-heart unliked-btn"></span>  
  <% end %>
<% end %>  

<p div id="like-count"><%= @likes.count %></p>